[Desktop Entry]
Version=1.0
Type=Application
Name=pwhich
Comment=Inspecteur d'origine des paquets (APT, Snap, Flatpak)
Exec=pwhich
Icon=system-search
Terminal=true
Categories=System;Utility;
Keywords=package;apt;snap;flatpak;which;find;