[Desktop Entry]
Version=1.0
Type=Application
Name=pwhich
Comment=Package origin inspector (APT, Snap, Flatpak)
Exec=pwhich --pause
Icon=system-search
Terminal=true
Categories=System;
Keywords=package;apt;snap;flatpak;which;find;
